body{
    margin: 0; 
}


.head {
    background-color: rgb(31, 31, 31);
    padding: 20px;     
}

.head a{
    color: white;
}


a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}


header{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    background-color: rgba(228, 228, 228, 0.801);
    
}

img{    
    width: 500px;
}


.btn{
    display: flex;
    margin-top: 55px;
    list-style: none;
    gap: 50px;
    
    
    
    
}
